<body class="flex bg-gray-100 min-h-screen" x-data="{panel:false, menu:true}" id="main-dashboard">
  <aside
    class="flex flex-col"
    :class="{'hidden sm:flex sm:flex-col': window.outerWidth > 768}"
  >
    <div
      class="flex-grow flex flex-col justify-center text-gray-500 bg-gray-800"
    >
      <nav class="flex flex-col mx-12 my-12 space-y-4">

        <a tabindex="13"
          href="#"
          class="focusable-element inline-flex items-center py-3 text-blue-600 bg-white rounded-lg px-2 justify-start"
        >
          <svg
            aria-hidden="true"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"
            />
          </svg>
          <span class="ml-2" x-show="menu">Dashboard</span>
        </a>
        <a tabindex="14"
          href="#"
          class="focusable-element inline-flex items-center py-3 hover:text-gray-400 hover:bg-gray-700 focus:text-gray-400 focus:bg-gray-700 rounded-lg px-2 justify-start"
        >
          <svg
            aria-hidden="true"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z"
            />
          </svg>
          <span class="ml-2" x-show="menu">History</span>
        </a>
      </nav>
    </div>
  </aside>
  <div class="flex-grow text-gray-800">
    <header class="flex items-center h-20 px-6 sm:px-10 bg-white">
      <div class="mr-8 cursor-pointer">
      </div>
      <div class="relative w-full max-w-md sm:-ml-2">
        
      </div>
      <div class="flex flex-shrink-0 items-center ml-auto">
        <button tabindex="15"
          (click)="viewHideProfileMenu()"
          class="focusable-element relative inline-flex items-center p-2 hover:bg-gray-100 focus:bg-gray-100 rounded-lg"
        >
          <span class="sr-only">User Menu</span>
          <div class="hidden md:flex md:flex-col md:items-end md:leading-tight">
            <span class="font-semibold"
              >{{ user?.fName }} {{ user?.lName }}</span
            >
            <span class="text-sm text-gray-600">Customer/ Patient</span>
          </div>
          <span
            class="h-12 w-12 ml-2 sm:ml-3 mr-2 bg-gray-100 rounded-full overflow-hidden"
          >
            <img
              [src]="user?.imageUrl"
              alt="user profile photo"
              class="h-full w-full object-cover"
            />
          </span>
          <svg
            aria-hidden="true"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="hidden sm:block h-6 w-6 text-gray-300"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </button>

        <div
          *ngIf="showProfileMenu"
          class="absolute top-20 bg-white border rounded-md p-2 w-56"
          x-show="panel"
        >
          <a tabindex="16" class="focusable-element p-2 block hover:bg-blue-100 cursor-pointer">Dashboard</a>
          <a tabindex="17" class="focusable-element p-2 block hover:bg-blue-100 cursor-pointer">History</a>
        </div>

        <div class="border-l pl-3 ml-3 space-x-1">
          
          <button tabindex="18"
            class="relative p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-600 focus:bg-gray-100 focus:text-gray-600 rounded-full"
          >
            <span class="sr-only">Log out</span>
            <svg
              aria-hidden="true"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="h-6 w-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
              />
            </svg>
          </button>
        </div>
      </div>
    </header>
    <main class="p-6 sm:p-10 space-y-6">
      <div
        class="flex flex-col space-y-6 md:space-y-0 md:flex-row justify-between"
      >
        <div class="mr-6">
          <h1
            #dashboardTitle
            id="dashboardTitle"
            tabindex="1"
            aria-label="Page Title"
            class="focusable-element text-4xl font-semibold mb-2"
          >
            Dashboard
          </h1>
          <div class="sr-only" aria-live="polite">
            <span>{{ dashboardTitle.textContent }} </span>
          </div>
          <h2
            tabindex="2"
            aria-label="Manage your account and payments.
          "
            class="focusable-element text-gray-600 ml-0.5"
          >
            Manage your account and payments.
          </h2>
        </div>
        
      </div>
      

      <section
        role="region"
        aria-labelledby="profile-heading"
        class="container mx-auto mt-8"
      >
        <div class="bg-white shadow-md p-4 rounded-lg">
          <h2
            id="profile-heading"
            tabindex="3"
            class="focusable-element text-2xl font-semibold text-black mb-4"
          >
            User Profile
          </h2>
          <ul
            role="list"
            tabindex="4"
            class="focusable-element grid grid-cols-1 md:grid-cols-2 gap-4 text-gray-900"
          >
            <li
              role="listitem"
              class="border bg-gray-100 rounded-lg p-4 flex items-center"
            >
              <i
                aria-hidden="true"
                class="bi bi-person-fill text-xl mr-2 text-yellow-500"
              ></i>
              <label class="text-md font-semibold">First Name</label>
              <span class="text-md ml-2">{{ user?.fName }}</span>
            </li>
            <li
              role="listitem"
              class="border bg-gray-100 rounded-lg p-4 flex items-center"
            >
              <i
                aria-hidden="true"
                class="bi bi-person-fill text-xl mr-2 text-green-500"
              ></i>
              <label class="text-md font-semibold">Last Name</label>
              <span class="text-md ml-2">{{ user?.lName }}</span>
            </li>
            <li
              role="listitem"
              class="border bg-gray-100 rounded-lg p-4 flex items-center"
            >
              <i
                aria-hidden="true"
                class="bi bi-envelope-fill text-xl mr-2 text-blue-500"
              ></i>
              <label class="text-md font-semibold">Email</label>
              <span class="text-md ml-2">{{ user?.email }}</span>
            </li>
            <li
              role="listitem"
              class="border bg-gray-100 rounded-lg p-4 flex items-center"
            >
              <i
                aria-hidden="true"
                class="bi bi-calendar text-xl mr-2 text-pink-500"
              ></i>
              <label class="text-md font-semibold">Date of Birth</label>
              <span class="text-md ml-2">{{ user?.dob }}</span>
            </li>
            <li
              role="listitem"
              class="border bg-gray-100 rounded-lg p-4 flex items-center"
            >
              <i
                aria-hidden="true"
                class="bi bi-house-fill text-xl mr-2 text-purple-500"
              ></i>
              <label class="text-md font-semibold">Address</label>
              <span class="text-md ml-2">{{ user?.address }}</span>
            </li>
            <li
              role="listitem"
              class="border bg-gray-100 rounded-lg p-4 flex items-center"
            >
              <i
                aria-hidden="true"
                class="bi bi-telephone-fill text-xl mr-2 text-red-500"
              ></i>
              <label class="text-md font-semibold">Phone Number</label>
              <span class="text-md ml-2">{{ user?.phoneNumber }}</span>
            </li>
          </ul>
        </div>
      </section>
      <section aria-labelledby="medical-bills" class="container mx-auto">
        <div
          class="bg-white shadow overflow-hidden rounded-tl-lg rounded-tr-lg"
        >
          <h2
            tabindex="5"
            summary="Medical Bills Data"
            aria-label="Medical Bills"
            role="grid"
            class="focusable-element text-2xl font-semibold p-4"
            id="medical-bills"
          >
            Medical Bills
          </h2>
          <div *ngIf="user && user.hospitals.length > 0">
            <table
              tabindex="6"
              aria-label="Our table contains records of medical bills. You can select the bill you want to pay by using the select bill for payment checkbox field "
              class="focusable-element w-[97.5%] mx-auto text-md text-left text-gray-500 dark:text-gray-400"
            >
              <thead
                tabindex="7"
                aria-label="Table headers. Column-header 1: Hospital ID, Column-header 2: Visit Date, Column-header 3: Doctor Name, Column-header 4: Amount to pay, Column-header 5: Select bill for payment."
                class="focusable-element text-sm text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400"
              >
                <tr>
                  <th
                    scope="col"
                    class="px-6 py-3 text-left text-sm font-bold text-gray-500 uppercase tracking-wider border-b border-gray-200"
                  >
                    Hospital ID
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-left text-sm font-bold text-gray-500 uppercase tracking-wider border-b border-gray-200"
                  >
                    Visit Date
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-left text-sm font-bold text-gray-500 uppercase tracking-wider border-b border-gray-200"
                  >
                    Doctor Name
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-left text-sm font-bold text-gray-500 uppercase tracking-wider border-b border-gray-200"
                  >
                    Amount To Pay
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-left text-sm font-bold text-gray-500 uppercase tracking-wider border-b border-gray-200"
                  >
                    Select Bill for Payment
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="focusable-element"
                  *ngFor="let visit of user.hospitals"
                  tabindex="8"
                  [attr.aria-label]="
                    'Table row. Hospital ID: ' +
                    visit.id +
                    ', Visit Date: ' +
                    visit.visitDate +
                    ', Doctor Name: ' +
                    visit.doctorName +
                    ', Amount To Pay: ' +
                    (visit.amountToPay | currency)
                  "
                >
                  <td
                    scope="row"
                    class="px-6 py-4 whitespace-nowrap border-b border-gray-200"
                  >
                    {{ visit.id }}
                  </td>
                  <td
                    scope="row"
                    class="px-6 py-4 whitespace-nowrap border-b border-gray-200"
                  >
                    {{ visit.visitDate }}
                  </td>
                  <td
                    scope="row"
                    class="px-6 py-4 whitespace-nowrap border-b border-gray-200"
                  >
                    {{ visit.doctorName }}
                  </td>
                  <td
                    scope="row"
                    class="px-6 py-4 whitespace-nowrap border-b border-gray-200"
                  >
                    {{ visit.amountToPay | currency }}
                  </td>
                  <td
                    scope="row"
                    class="px-6 py-4 whitespace-nowrap border-b border-gray-200"
                  >
                    <input
                      tabindex="8"
                      aria-label="Please check the checkbox to pay this bill"
                      type="checkbox"
                      [(ngModel)]="visit.selectedForPayment"
                      class="focusable-element form-checkbox h-5 w-5 text-blue-500"
                    />
                  </td>
                </tr>
              </tbody>
            </table>

            <div
              class="bg-white shadow p-4 flex justify-between rounded-bl-lg rounded-br-lg"
            >
              <div>
                <h6 tabindex="9" class="focusable-element text-xl font-semibold mb-4">
                  Payment Summary
                </h6>
                <p class="focusable-element"  tabindex="10">
                  Total Payment Amount: {{ calculateTotalPayment() | currency }}
                </p>
                <p class="focusable-element" tabindex="11">
                  Selected Bills Count: {{ calculateBillCount() }}
                </p>
              </div>

              <div class="flex flex-col">
                <button
                  tabindex="12"
                  aria-labelledby="checkbox-error"
                  class="focusable-element text-white bg-purple-800 hover:bg-purple-900 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-md text-center px-8 py-3 my-8"
                  (click)="onPayButtonClick()"
                  id="pay"
                >
                  Pay Now
                </button>
                <div
                  id="checkbox-error"
                  class="text-red-500"
                  *ngIf="isPayButtonClicked && calculateBillCount() === 0"
                >
                  Select at least one bill for payment.
                  <span class="sr-only">Pay Now</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="container mx-auto py-8"
          *ngIf="user && user.hospitals.length === 0"
        >
          <p tabindex="6" role="alert" class="focusable-element text-gray-600">No medical bills available.</p>
        </div>
      </section>
    </main>
  </div>
</body>
<div *ngIf="isCardVisible" class="card-overlay">
  <app-card
    (closeCard)="hideCard()"
    [selectedAmount]="selectedAmount"
    (payClicked)="onPay()"
  ></app-card>
</div>
<div *ngIf="showSuccess" class="card-overlay" data-te-modal-init>
  <app-success (closeModal)="closeSuccessModal()"></app-success>
</div>
